.footer_logo{
    font-family: var(--font-ibarra-italic);
    font-weight: 800;
    color: var(--color-foreground);
    font-size: 14vw;
    line-height: 14vw;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    .footer_logo{
        font-family: var(--font-ibarra-italic);
        font-weight: 800;
        color: var(--color-foreground);
        font-size: 14.28vw;
        line-height: 14.28vw;
        white-space: nowrap;
    }
}