.page_title{
    font-family: var(--font-ibarra-italic);
    color: var(--color-foreground);
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -5%;
}

.page_body {
    font-family: var(--font-fustat);
    color: var(--color-foreground);
    font-size: 16px;
    line-height: 150%;
}